 body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left,#fbe8a6, #97caef);
 }

 .body{
     display: flex;
     justify-content: center;
     border-radius: 20px;
     background-color: cadetblue ;
     margin-top: 50%;
     padding-left: 30px;
     
 }

 .h1{
     text-align: center;
     position: relative;
     right: 30px;
     font-family: cursive, fantasy, monospace, Georgia, 'Times New Roman', Times, serif;
     font-style: oblique;
    font-weight: bold;
    color: rgb(7, 41, 114);
 }

 .input-field {
    width: 50%;
    text-align: center;
    font-size: 20px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: lightblue;
    outline: unset;
    border: solid darkslategray;
  }

  .btn{
    font-size: 20px;
    height: inherit;
    border-radius: 7px;
    text-align: center;
    background-color: teal;
  }

 .todo-form{
     display: flex;
     justify-content: center;
 }

 /* #to-f{
    transition: all 0.3% linear;
 }
 
 #to-f :hover{
    box-shadow: rgba(6, 21, 102, 0.8) 5px 5px 15px ;
    transform: inset;
} */

 .todo{
     display: flex;
     flex-direction: row;
    font-size: 20px;
     margin-top: 20px;
     align-items: center;
     border: solid;
     border-radius: 7px;
     margin-right: 20px;
 }


 .re-btn {
   display: flex;
   margin-left: auto;
   height: 30px;
   border: unset;
 }

 #r-btn{
     background-color: cadetblue;
     margin-right: 2px;
     border: unset;
 }

 #e-btn{
    background-color: cadetblue;
    border: unset;
 }

 .r-ul{
     border: unset;
     width: 100%;
     border-radius: 7px;
     position: relative;
     right: 23px;
 }

 #button{
    background-color: cadetblue;
    border: unset;
    margin-left: 20px;
 }

 